@font-face {
    font-family: "teste";
    src: url("/_fonts/Inkfree.ttf") format("truetype");
}

@font-face {
    font-family: "titulo-primary";
    src: url("/_fonts/Candara.ttf") format("truetype");

}

* {
    padding: 0px;
    margin: 0px;
}

body,
html {

    margin: 0;
    height: 100%;
    background-image: url("/_img/bkg7.JPg");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.navbar {
    margin-left: 15%;
}

.menu {
    margin-right: 5%;
}

.navbar-brand {
    background-color: rgba(250, 248, 248, 0.2);
    border-radius: 3%;


}

#link-style {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    color: rgb(85, 84, 84);

}

#link-style:hover {
    color: gray;
    border-bottom: 2px;
    border-color: rgb(0, 0, 0);
    border-style: none none solid none;
}

h1#titulo-home {
    font-family: 'titulo-primary', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: xxx-large;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;




}

h3#caption-home {


    font-family: teste, sans-serif;
    color: white;
    font-size: xxx-large;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: gray;
}

@media (max-width: 450px) {

    .navbar {
        margin-left: 0%;
    }

    #img-lise {
        width: 250px
    }

    .lise-pic {
        padding-top: 25%;
    }

    #botaoresp {
        background-color: transparent;
        text-align: center;
    }

    #botaoresp a {
        color: rgb(248, 248, 248);
        opacity: 1.0;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;


    }

    #botaoresp a:hover {
        border-bottom: 1px;
        border-color: black;
        border-style: none solid none none;
    }

    h1 {

        font-size: xx-large;
    }
}

.home {
    height: 100%;

}

.card {

    height: 100%;
    background-color: transparent;

}

.cardbg {
    background-color: aliceblue;

}

@media (max-width: 450px) {
    h1#titulo-home {
        -webkit-text-stroke-width: 0px;
        -webkit-text-stroke-color: black;
        font-size: xx-large;
    }

    h3#caption-home {
        font-size: xx-large;
    }

}

/* fim do media query*/

.footer {
    padding-top: 5%;
}

.curriculo {
    border-left: 2px black solid;

}

.curriculo h4 {
    color: rgb(0, 0, 0);
}

.curriculo p {
    color: rgb(3, 3, 3);
}

.curriculo h5 {
    text-align: center;
}

.perfil {
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    width: 50%;
    height: 93%;
    border-radius: 20px;
    justify-content: center;
    flex-direction: wrap;
    background-color: rgba(250, 248, 248, 0.5);


}

.bordinha {
    border-radius: 20px;
    display: flex;
    width: 35vh;


}

.projetos {
    margin-top: 4%;
    margin-bottom: 3%;
    height: 90%;

    display: flex;
    color: white;
    align-items: center;


}

.projetos h5 {
    justify-content: end;
    align-items: end;

}

.profile {
    background-color: rgba(250, 248, 248, 0.7);
    margin-top: 5%;
    margin-bottom: 3%;
    display: flex;
    font-weight: bold;
    font-style: italic;

}

.profile img {
    display: flex;

    align-items: center;
    justify-content: center;
}

.certificados, img {
    display: flex;
    margin-right: 1%;
    margin-bottom: 4%;
    
    
}

div#info-conteudo {
    border-left: 1px black solid;
    margin-bottom: 5%;
}

@media (max-width: 766px) {

    div#info-conteudo {
        border-left: 0px black solid;
    }
}

div#destaques {
    color: white;
}



.rodape {
    margin-top: 2%;
    margin: auto;
    background-color: rgb(22, 20, 20);
    
   
    align-items: center;
    


}

.cola {
    
    
    padding-top: 2%;
    
}

.colb {
    
    padding-top: 2%;
    
}

.colc {
    
    padding-top: 2%;
}
.titulos-footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 5%;

    
}
.description-footer{
    color: white;
    font-family: Tahoma, sans-serif;
    line-height: 140%;
    text-align: center;
    font-size: medium;
    
}
.googou{
    text-decoration: none;
    color: rgb(126, 125, 125);
}
.googou:hover{
    text-decoration: none;
    color: white
}

.colc , i{
    padding-top: 2%;
    color: gray;
    text-align: center;
    font-size: xx-large;
}

.bi-facebook:hover{
    color: rgb(68, 68, 255);
}
.bi-instagram:hover{
    color: rgb(177, 40, 74);
}
.bi-envelope:hover{
    color: white;
}
.bi-twitter:hover{
    color: rgb(112, 112, 245);
}
.bi-whatsapp:hover{
    color:rgba(38, 207, 46, 0.664)
}

.formaca{
    
    text-align: center;
    margin-top: -5%;
}

@media (max-width: 450px){
    .formaca{
        text-align: center;
        
    }
}
.separar{
    display: flex;
    margin: auto;
    
}
.espaco{
    padding-left: 4%;
}
.roover{
    opacity: 0;
    text-align: center;
    padding-top: 50%;
   
    


}
.card-text{
    font-style: italic;
    font-size: large;
    
}
.roover:hover{
    opacity: 1;
    transition: 0.7s;

}
@media (max-width: 600px){
    .roover{
        opacity: 1;
    }
}
.bi-geo-alt{
    font-size: medium;
}